<div class="container mt-5">
  <form action="answer" data-turbo="false" class="mb-3">
    <label for="question" class="form-label fs-4 mb-4">Question:</label>
    <input type="text" class="form-control mb-2 mr-sm-2" name="question">
    <input type="submit" class="btn btn-primary mb-2" value="Ask!">
  </form>
</div>
